[submodule "external/RDR-Classes"]
	path = external/RDR-Classes
	url = https://github.com/YimMenu/RDR-Classes.git
[submodule "external/ScriptHookSDK"]
	path = external/ScriptHookSDK
	url = https://github.com/Evasion3356/ScriptHookRDR2-SDK.git
[submodule "external/minhook"]
	path = external/minhook
	url = https://github.com/TsudaKageyu/minhook.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/FishingFix"]
	path = external/FishingFix
	url = https://github.com/Evasion3356/FishingFix.git
